@{
    ViewData["Title"] = "Ranking";
}

<head> 
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/globalStyles.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/reset.css">
</head></>
<div class="text-center">
    <div class="d-grid gap-2 d-md justify-content-md-start">
       
    </div>
    <br />
    <h1 class="display-4">Rankings</h1>

    <table  class="table"> 
        <thead>
            <tr style="background-color: rebeccapurple; color:aqua; font-size: 2.5rem">
                <th scope="col">#</th>
                <th scope="col">Nickname</th>
                <th scope="col">Points</th>
                <th scope="col">Date</th>                
            </tr>
        </thead>
        <tbody>
            <tr style="background-color: black; color: rebeccapurple; font-size: 2rem">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>30415</td>
                <td>27/04/2023</td>               
            </tr>
            <tr style="background-color: gray; color: rebeccapurple; font-size: 2rem">
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>28613</td>
                <td>14/03/2023</td>                
            </tr>
            <tr style="background-color: black; color: rebeccapurple; font-size: 2rem">
                <th scope="row">3</th>
                <td>Kamphur</td>
                <td>12930</td>
                <td>13/07/2023</td>
                
        </tbody>
    </table>
</div>





