<head>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/globalStyles.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/reset.css">

</head></>
<div class="mb-3">



    <table style="background-color: black; color: white;">
    <thead>
        <tr>
                <th style="font-size: 30px; border-spacing: 10px;" scope="col">#</th>
                <th style="font-size: 30px;border-spacing: 50px;" scope="col">Nickname</th>
                <th style= "font-size: 30px;"scope="col">Points</th>
                <th style="font-size: 30px;" scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
                <th style="font-size: 30px;" scope="row">1</th>
                <td style="font-size: 30px;">Mark</td>
                <tds tyle ="font-size: 30px;">29810</tds>
                <td style="font-size: 30px;">26/10/2023</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>26450</td>
            <td>06/07/2023</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Jacob</td>
            <td>23740</td>
            <td>09/07/2023</td>
        </tr>
    </tbody>
</table>
</div>