@{
    ViewData["Title"] = "Registrar";
}

<head> 
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/globalStyles.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/reset.css">
</head></>
<div class="text-center">

    <h1 class="display-4">Criar conta</h1>

</div> 

<form>
     <div class="mb-3">
        <label for="nome" class="form-label">Nickname</label>
        <input type="text" class="form-control" placeholder="Nickname">    
     </div>

    <div class="mb-3">
        <label for="email" class="form-label">Senha</label>
        <input type="text" class="form-control" placeholder="Senha">
    </div>

    <div class="mb-3">
        <label for="celular" class="form-label">Repita a senha</label>
        <input type="text" class="form-control" placeholder="Repita a senha">
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Registrar</button>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" role="button">Voltar</a>
    </div>  

</form>