@{
    ViewData["Title"] = "Quiz";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz</title>
    <link rel="stylesheet" href="~/css/globalStyles.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/reset.css">

</head>
<body>
    <main>
        <header class="header">
            <h1 class="header__title" style="font-family:Arial;">Quiz Minds: Trivea Expedition</h1>
        </header>
        <section class="section">
            <div class="section__div">
                <a class="btn btn-secondary" style="background-color: rebeccapurple; font-size: 1.3rem" asp-controller="Registrar" asp-action="Play" role="button">PLAY</a>
                <a class="btn btn-secondary" style="background-color: rebeccapurple; font-size: 1.3rem" asp-controller="Registrar" asp-action="Registro" role="button">REGISTRAR</a>
                <a class="btn btn-secondary" style="background-color: rebeccapurple; font-size: 1.3rem"asp-controller="Registrar" asp-action="Dificuldade" role="button">DIFICULDADE</a>
                
            </div>
        </section>
    </main>
</body>
</html>
